/* PC */
@media (min-width:64em) {
    
}

/*Tablet*/
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    
}

@media (max-width: 46.1875em) {
    #header {
        overflow: hidden;
    }

    #header .nav-lists li {
        display: block;
        border-bottom: 1px solid #ccc;
    }

    #header .nav-lists li:first-child {
        display: inline-block;
    }

    #menu-mobile {
        display: block;
    }

    .slider__heading span {
        font-size: 60px;
        font-weight: bolder;
    }

    .time-lists {
        display: block;
    }




















}


























