* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Amatic SC, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.clear {
    clear: both;
}

#header {
    height: 52px;
    background-color: #000;
    opacity: 0.6;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}

#header:hover {
    opacity: 1;
}

#header .nav-lists {
    list-style: none;
}

#header .nav-lists li {
    display: inline-block;
}

#header .nav-lists a {
    color: #fff;
    text-decoration: none;
    display: block;
    line-height: 52px;
    padding: 0 16px;
    font-size: 24px;
    text-transform: uppercase;
}

#header .nav-lists a:hover {
    background-color: #ccc;
    color: #000;
}

#slider {
    background: url(/teamwork/asset/img/pizza.jpg) center / cover no-repeat;
    padding-top: 80%;
    position: relative;
    filter: grayscale(50%);
    width: 100%;
    
}

#slider .thin{
    font-size: 100px;
    text-align: center;
    width: 100%; 
    color: #fff;
    letter-spacing: 4px;
}

#slider .the-menu{
    font-size: 36px;
    text-align: center;
    /* display: block; */
    color: #fff;
    background-color: #000;
    padding: 8px 16px;
    border: none;
    font-weight: bolder; 
}

#slider .open{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
    margin: 15px 0;
}

#slider .the-menu:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}


#the-menu {
    padding: 64px 16px;
    background-color: #000;
}

#the-menu .body-menu {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;

}

.body-menu .heading-menu {
    margin: 10px 0 64px;
    text-align: center;
    font-size: 64px;
    color: #fff;
}

.body-menu .title-menu {
    border: 1px solid #ccc;
}

.body-menu .nav-menu {
    list-style: none;
}

.body-menu .nav-menu li {
    float: left;
    display: block;
    width: 33.33333%;
    text-align: center;
}

.body-menu .nav-menu a {
    font-size: 36px;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 12px 24px;
}

.body-menu .nav-menu a:hover {
    background-color: #f44336;
}

.nav-menu .pizza {
    background-color: #f44336;
}

.body-menu .menu-lists {
    background-color: #fff;
    padding: 16px 32px;
}

.menu-lists .item-list {
    margin: 10px 0;
}







