* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Amatic SC, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

#header {
    height: 52px;
    background-color: #000;
    opacity: 0.6;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}

#header:hover {
    opacity: 1;
}

#header .nav-lists {
    list-style: none;
}

#header .nav-lists li {
    display: inline-block;
}

#header .nav-lists a {
    color: #fff;
    text-decoration: none;
    display: block;
    line-height: 52px;
    padding: 0 16px;
    font-size: 24px;
    text-transform: uppercase;
}

#header .nav-lists a:hover {
    background-color: #ccc;
    color: #000;
}

#slider {
    background: url(/teamwork/asset/img/pizza.jpg) center / cover no-repeat;
    padding-top: 50%;
    position: relative;
    min-height: 90%;
    filter: grayscale(50%);
    
}

#slider .thin{
    font-size: 100px;
    text-align: center;
    width: 100%; 
    color: #fff;
    letter-spacing: 4px;
}

#slider .the-menu{
    font-size: 36px;
    text-align: center;
    /* display: block; */
    color: #fff;
    background-color: #000;
    padding: 8px 16px;
    border: none;
    font-weight: bolder; 
}

#slider .open{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
    margin: 15px 0;
}

#slider .the-menu:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}


